/* CORPO*/
body {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500; 
    font-size: 18px;  
    color: white;
    line-height: 1.6;

    background-color: #6a1b9a;
    background-size: 180px; 
}

/*NAVBAR*/
.navbar {
    position: relative;
    z-index: 100;

    background-color: transparent;
    background-image: url("../imgs/background-pattern.png");
    background-repeat: repeat;
    background-size: 180px;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    padding: 25px 40px;
}

.navbar-links {
    display: flex;
    gap: 45px;
}

.navbar-links.left {
    justify-content: flex-start;
}

.navbar-links.right {
    justify-content: flex-end;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
    font-size: 22px; 
    letter-spacing: 2px; 
    text-transform: uppercase;
    font-weight: 400;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #d1c4e9;
}

.navbar-center {
    text-align: center;
}

.navbar-center .brand {
    color: white;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
    font-size: 34px;
    line-height: 0.85; 
    letter-spacing: 3px;
    font-weight: 600;
    display: inline-block;
}

/*TOPO*/
.hero {
    height: 90vh;
    background-color: transparent; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.hero h1 {
    font-family: 'Teko', sans-serif;
    font-size: 90px; 
    font-weight: 600;
    line-height: 0.9;
    text-transform: uppercase;
    letter-spacing: 2px;
}
  
.hero p {
    font-size: 24px; 
    margin-top: 10px;
    opacity: 0.9;
    font-weight: 400;
}

/*SEÇÕES*/
section {
    padding: 80px 60px;
}
  
/*TÍTULOS*/
section h2 {
    font-family: 'Teko', sans-serif;
    font-size: 52px;
    margin-bottom: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}
 